* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: "Outfit", sans-serif;
    height: 100%;
    max-width: 100% !important;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #244855;
}

.navbar,
.footer {
    background-color: #244855;
    color: #90aead !important;
}

.navbar-brand {
    font-size: 30px;
}

.nav-item {
    margin-left: auto;
    width: fit-content;
    margin-top: -3px;
    margin-right: 25px;
}

.navbar-nav .dropdown-menu {
    margin-left: auto;
    width: fit-content;
    margin-top: -3px;
    margin-right: 25px;
}

.navbar {
    padding-top: 15px;
    font-size: 1.1em;
}

.navbar_wrapper {
    margin-top: 10px;
}

.navbar-collapse {
    text-align: right;
}

.text-custom,
.nav-link {
    color: #90aead;
    transition: all 0.3s ease;
}

.nav-link:hover,
.navbar-brand:hover {
    color: white;
    transition: all 0.3s ease;
}

.nav-link:active,
.nav-link:focus,
.nav-link.active {
    color: white;
}

.navbar-brand:active,
.navbar-brand:focus,
.navbar-brand:active {
    color: #90aead;
}

.homepage-header {
    margin-top: 10%;
    height: 40vw;
    background-color: #244855;
    color: #90aead;
}

.homepage-header p {
    margin-left: 25%;
    margin-right: 25%;
}

.btn-home {
    color: #fbe9d0;
    background-color: #874f41;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-home:hover {
    color: #fbe9d0;
    background-color: #AC6553;
    transform: translateY(-4px);
    /* Lifts the card slightly on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.container {
    flex: 1;
    min-width: 100vw !important;
    min-height: 80vh;
    padding: 0;
    margin-top: 60px;
}

.dashboard h2,
label {
    color: #90aead;
}

.footer {
    position: absolute;
    width: 100vw !important;
    height: 50px;
    line-height: 30px;
    text-align: center;
    bottom: 0 !important;
    left: 0;
    right: 0;
}

/* Rounded card styling */
.rounded-card {
    border-radius: 15px;
    /* Rounded corners */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    /* Smooth hover transition */
    overflow: hidden;
    border: none;
}

.rounded-card:hover {
    transform: translateY(-10px);
    /* Lifts the card slightly on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
    /* Increase shadow on hover */
}

/* Add some padding to the card's body */
.card-body {
    justify-content: center;
    border: 2px #874f41;
    border-radius: 24px;
    padding: 2rem;
    color: #fbe9d0;
    background-color: #874f41;
}

/* Add spacing for the text inside the card */
.card-title {
    font-weight: 700;
    margin-bottom: 1rem;
}

.card-text {
    font-size: 1.1rem;
}

/* Shadow effect to make the card stand out */
.shadow-lg {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.custom-form {
    width: 100%;
}

.table-custom {
    background-color: #fbe9d0;
    width: 100%;
    border-collapse: collapse;
}

.table-custom th {
    color: black;
    /* Header text color */
    padding: 10px 10px;
    /* Padding for header */
    border-bottom: 2px solid black;
    /* Header border */
    text-align: left;
    /* Align text to the left */
}

/* Table body styling */
.table-custom td {
    padding: 10px 10px;
    /* Padding for table cells */
    border-bottom: 1px solid black;
    /* Row bottom border */
}

/* Optional hover effect for rows */
.table-custom tr:hover {
    background-color: #f1f1f1;
    /* Hover background color */
}

.table-custom thead tr:hover {
    background-color: #fbe9d0;
}

.custom-card {
    display: flex;
    flex-direction: column;
    padding: 15px;
    margin-left: 5vw;
    margin-right: 5vw;
    margin-top: 5vh;
    border-radius: 24px;
    background-color: #fff;
}

textarea {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 100px;
    padding-right: 100px;
    border: none;
    resize: none;
    margin-bottom: 20px;
}

.title-textarea {
    font-size: 2em;
    height: 100px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    margin-bottom: -1vh;
}

.card-text.text-bold {
    font-weight: bold;
}

.body-textarea {
    height: 400px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 0px;
}

.custom-card .btn-home {
    float: right;
}

.delete-button {
    float: left;
    width: 200px;
    color: #fbe9d0;
    background-color: #874f41;
    transition: transform 0.5s ease, box-shadow 0.3s ease;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.delete-button:hover {
    color: #fbe9d0;
    background-color: #AC6553;
    transform: translateY(-4px);
    /* Lifts the card slightly on hover */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

@keyframes bounceIn {
    0% {
        transform: scale(0.3);
        opacity: 0;
    }

    50% {
        transform: scale(1.05);
        opacity: 0.9;
    }

    70% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.card.signup-custom {
    border-radius: 1rem;
    margin-top: 5%;
    background-color: #874f41;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.2);
    color: white;
}

.signup-custom .card-body-custom {
    justify-content: center;
    padding: 2rem;
    color: #fbe9d0;
}

.form-outline input {
    width: 75%;
    height: 40px;
    padding: 20px;
    border-radius: 1.5rem;
    border: none;
    color: #819c9b;
}

.signup-style {
    margin-top: -10%;
    margin-bottom: -2%;
}

a {
    color: #fbe9d0;
    text-decoration: none;
}

.card-body-custom .btn-home.btn-lg {
    background-color: #90aead;
    color: white;
    margin-top: 10px;
}

select {
    // A reset of styles, including removing the default dropdown arrow
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;

    z-index: 1;

    &::-ms-expand {
        display: none;
    }

    outline: none;
}

.select {
    display: grid;
    grid-template-areas: "select";
    align-items: center;
    position: relative;
    width: 75%;
    height: 40px;
    margin-left: 4.5vw;
    border-radius: 1.5rem;
    border: none;
    color: #819c9b;

    select,
    &::after {
        grid-area: select;
    }

    padding: 0.25em 20px;

    cursor: pointer;

    background-color: #fff;

    // Custom arrow
    &:not(.select--multiple)::after {
        content: "";
        justify-self: end;
        width: 0.8em;
        height: 0.5em;
        background-color: var(--select-arrow);
        clip-path: polygon(100% 0%, 0 0%, 50% 100%);
    }
}

.btn-home.btn-alt {
    background-color: #90aead;
    color: white;
}

.feedback textarea {
    border: none;
    border-color: transparent;
    box-shadow: none;
    padding: 20px;
}

.feedback textarea:focus {
    border: none;
    border-color: transparent;
    box-shadow: none;
}

textarea.story-body {
    cursor: default;
}

.card.feedback {
    margin-top: 7vh;
    border-radius: 24px;
    margin-bottom: 10vh;
}

.feedback .card-body {
    border-radius: 24px;
    color: #fbe9d0;
    background-color: #874f41;
    border: none;
}

.mt-neg-1 {
    margin-top: -0.9em;
}

.mt-custom-5 {
    margin-top: 12vh;
}

.messages {
    overflow: hidden !important;
    position: relative;
    top: -7vh;
}

.alert {
    margin-left: 85%;
    margin-top: -7.45vh;
    height: 8%;
    width: 20%;
    background-color: #C1F7EE;
    transform-origin: right;
    border-radius: 0%;
    animation: exit 2s ease-out forwards;
}

.alert.new-message {
    margin-left: 85%;
    margin-top: -7.45vh;
    transform-origin: right;
    animation: notify 2s ease-in forwards;
}

@keyframes notify {
    0% {
        transform: scaleX(0);
    }

    25% {
        transform: scaleX(1.1);
    }

    50% {
        transform: scale(1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes exit {
    0% {
        transform: scaleX(1.01);
    }

    25% {
        transform: scaleX(0);
    }

    50% {
        transform: scale(0);
    }

    75% {
        transform: scale(0);
    }

    100% {
        transform: translateX(100%);
        opacity(0);
    }
}

.text {
    position: absolute;
    height: 6px;
    width: 70px;
    background-color: #94DACD;
    margin-top: 12.25px;
    margin-left: 40px;
}

.dropdown-menu {
    background-color: transparent;
    border: none;
}

.dropdown-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    float: right;
    color: #fbe9d0;
    background-color: #874f41;
    padding: 0%;
    border-radius: 14px;
    width: 150px;
}

.dropdown-item:hover {
    color: #fbe9d0;
    background-color: #874f41;
    transform: none;
    transition: none;
}

.dropdown-item .btn-home:hover {
    color: #fbe9d0;
    background-color: #874f41;
    transform: none;
    transition: none;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);

}

.dropdown-item .btn-home {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 40px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.editorial {
    margin-top: 5vh;
    margin-bottom: -3.5vh;
    margin-left: 1.2vw;
    margin-right: 1.2vw;
}

.editorial .card. {
    border-radius: 10px;
    margin-bottom: 10vh;
    background-color: #874f41;

}

.editorial .card-body {
    border-radius: 5px;
    color: #fbe9d0;
    background-color: #874f41;
    border: none;
    height: 16vh;
    padding: 10px;
    overflow-y: scroll;
}

.editorial .card-text {
    font-size: 1em;
    font-weight: normal;
}
