{% load static %}
<nav class="navbar navbar-expand-md navbar-dark fixed-top justify-content-center">
    <div class="container-fluid">
        <a class="navbar-brand  text-custom" href="{% url 'home' %}">StoryTrack Pro</a>
        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault"
                aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse navbar_wrapper"
             id="navbarsExampleDefault">
            <ul class="navbar-nav ms-5">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'assignments' %}">Assignments</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'status' %}">Story Status</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'submit' %}">Submit Story</a>
                </li>
            </ul>
        </div>
        <div class="nav-item navbar-collapse collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <div class="dropdown">
                        <a class="nav-link nav-item dropdown-toggle"
                           role="button"
                           data-toggle="dropdown"
                           data-bs-toggle="dropdown"
                           aria-expanded="false">{{ user.email }}</a>
                        <ul class="dropdown-menu">
                            <li>
                                <div class="dropdown-item">
                                    <form method="post" action="{% url 'logout' %}">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-home">Log Out</button>
                                    </form>
                                </div>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'login' %}">
                        log in </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">
                        sign up </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
